<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title th:text="${'nnulation Automatisée de Réunion ' + #dates.format(date, 'dd-MM-yyyy HH:mm')}"></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

  <!-- use the font -->
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
    }
  </style>
</head>
<body>
<p th:text="${'Cher(e) ' + name}"></p>

<p th:text="${'Nous sommes désolés de vous informer que notre réunion prévue pour '+
#dates.format(date, 'dd-MM-yyyy') + ' à ' + #dates.format(date,'HH:mm')+
' est annulée en raison de circonstances imprévues. Nous vous tiendrons informé(e) dès que nous aurons une nouvelle date.'}"></p>
<br/>

<p>
  Merci de votre compréhension.
  <br/><br/>
  Cordialement, UIR clubs <br/>
</p>
<p>
  <img src="https://www.uir.ac.ma/assets/_resources/img/logos/logo-color.png"
       alt="uir" height="260" width="302"/>
</p>
</body>
</html>